{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App Favicon -->
        <link rel="shortcut icon" href="{% static "assets/images/favicon.ico" %}">

        <!-- App title -->
        <title>{{ PROJECT_NAME }}</title>

        <!-- Bootstrap CSS -->
        <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />

        <!-- App CSS -->
        <link href="{% static "assets/css/style.css" %}" rel="stylesheet" type="text/css" />

        <!-- Modernizr js -->
        <script src="{% static "assets/js/modernizr.min.js" %}"></script>

    </head>


    <body>

        <div class="container" style="max-width: 600px;">

            {% if messages %}
            <div class="messages m-t-20">
                {% for message in messages %}
                    <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}

            <div class="card-box m-t-30">

                {% block body %}{% endblock %}
            
            </div>
        </div>
       
       {% block scripts %}{% endblock %}
    </body>
</html>