{% load static %}
{% load i18n %}
{% load widget_tweaks %}

<form class="m-t-20" method="POST" novalidate>
    {% csrf_token %}

    {% for field in form %}
        {% include "core/forms/field.html" with field=field %}    
    {% endfor %}
    

    <div class="form-group text-center row m-t-10">
        <div class="col-12">
            <button class="btn btn-success btn-block waves-effect waves-light" type="submit">{% trans "Sign Up" %}</button>
        </div>
    </div>

</form>