{% load exchange %}
{% load i18n %}

<script>
		jQuery(function($) {
			var withdraw_app = new Vue({
				el: '#withdraw-app',
				data: {
					coin: null,
					available_amount: 0.00,
					amount: null,
					address: null,
					password: null,
					code: null,
					is_loading: false,
					errors: {},
					is_br_withdraw: false,
					currency: {}
				},
				computed: {
					available_amount_text: function() {
						return '{% trans "Available {coin} amount for withdraw is:" %}'.replace('{coin}', this.coin);
					}
				},
				methods: {
					new_withdraw: function(item) {
						var data = {
							coin: this.coin,
							amount: this.amount,
							address: this.address,
							password: this.password,
							code: this.code
						}

						var vm = this;
						vm.is_loading = true;

						$.post('{% url "payments>new-withdraw" %}', data, function(response) {
							if (response.status == 'error') {
								vm.errors = response.errors;
							}
							else if (response.status == 'success') {
								window.location.href = '{% url "core>statement" %}';
							}
							else {
								alert('{% trans "Withdraw error!" %}');
							}
							
							vm.is_loading = false;
						});
					}
				}
			});

			var wallets_app = new Vue({
				el: '#wallets-app',
				data: {
					wallets: {{ wallets|serialize|safe }},
					raw_wallets: {{ wallets|serialize|safe }}
				},
				methods: {
					createAddress: function(coin, name) {
						if (coin == '{{ BRL_CURRENCY_SYMBOL }}') {
							window.location.href = '{% url "payments>bank-deposit" %}';
							return;
						}

						swal.showLoading();
						
						$.post('{% url "payments>get-address" %}', {coin: coin}, function(response) {
							var qrcode_src = 'https://chart.googleapis.com/chart?cht=qr&chs=230x230&chl=' + name.toLowerCase() + ':' + response.address
							swal({
								title: '<i class="zmdi zmdi-balance-wallet"></i> {% trans "Your {coin} address" %}<br> <img src="{qrcode}">'.replace('{coin}', coin).replace('{qrcode}', qrcode_src), 
								html: response.address,
								confirmButtonClass: 'btn btn-primary'
							});
						});
					},
					createWithdraw: function(currency, coin, name, deposit) {
						if (coin == '{{ BRL_CURRENCY_SYMBOL }}' && '{{ request.user.has_br_bank_account }}' == 'no') {
							swal({
								title: '{% trans "You must have a BRL bank account configured for your account" %}',
								showCancelButton: true,
								cancelButtonText: '{% trans "Cancel" %}',
								confirmButtonText: '<i class="zmdi zmdi-settings"></i> {% trans "Set bank account" %}',
								type: 'info'
							}).then(function(result) {
								if (result.value == true) {
									window.location.href = '{% url "core>settings" %}'
								}
							});
						}
						else {
							var withdraw_amount_modal = $('#withdraw-app');
							withdraw_amount_modal.modal('show');
							withdraw_app.available_amount = deposit;
							withdraw_app.coin = coin;
							withdraw_app.is_br_withdraw = coin == '{{ BRL_CURRENCY_SYMBOL }}';
							withdraw_app.currency = currency;
						}
					}
				}
			});

			var wallets_toolbar = new Vue({
				el: '#wallets-toolbar',
				data: {
					hide_zero_balance: false,
					search: '',
				},
				methods: {
					do_search: function() {
						wallets_app.wallets = wallets_app.raw_wallets.filter(wallet => {
							var balance = wallet.deposit + wallet.reserved;

							if (this.hide_zero_balance && balance <= 0) {
								return false;
							}

							return (wallet.name.toLowerCase().includes(this.search.toLowerCase()) ||
								   wallet.symbol.toLowerCase().includes(this.search.toLowerCase()));
						})
					}
				},
				watch: {
					hide_zero_balance: function() {
						if (this.hide_zero_balance) {
							wallets_app.wallets = [];

							for (var index in wallets_app.raw_wallets) {
								var item = wallets_app.raw_wallets[index];
								var balance = item.deposit + item.reserved;

								if (balance > 0) {
									wallets_app.wallets.push(item);
								}
							}
						} else {
							wallets_app.wallets = wallets_app.raw_wallets;
						}

						this.do_search();
					},
					search: function() {
						this.do_search();
					}
				}
			});
		});
</script>