{% extends "core/index.html" %}

{% load i18n %}
{% load thumbnail %}


{% block content %}
    <h4 class="page-title"><i class="zmdi zmdi-receipt"></i> {% trans "Documents" %}</h4>

        
		<div class="card-box">
			<div class="row">
				<div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
					<h6 class="text-muted m-t-15 m-b-15 text-center text-uppercase"><i class="zmdi zmdi-picture-in-picture"></i> {% trans "Drivers License or ID - Front" %}</h6>


		            <div class="card">
		            	<div class="card-body">
		            		{% if id_front_instance.status %}
								<div class="alert {{ id_front_instance.status_alert_class }} text-center"><strong>{% trans id_front_instance.status_title  %}</strong></div>
		            		{% endif%}
			                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
			                	<input type="hidden" name="form_name" value="id_front">
			                	<div class="row">
			                		<div class="col-8">
			                			<input type="file" name="file" class="form-control" style="border: 0; padding: 0;">
			                		</div>
			                		<div class="col-4 text-right">
			                			<button href="#" class="btn btn-custom waves-effect waves-light"><i class="zmdi zmdi-upload"></i> {% trans "Upload" %}</button>
			                		</div>
			                	</div>
			                </form>
		            	</div>
		                
		                <div class="card-footer">
			                {% if id_front_instance.file %}
			                	<img src="{% thumbnail id_front_instance.file 600x250 crop='smart' %}" class="img-fluid">
			                {% else %}
			                	<img src="http://via.placeholder.com/600x250?text=|" class="img-fluid">
			                {% endif %}
		                </div>
		            </div>
	            </div>

	            <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
	            	<h6 class="text-muted m-t-15 m-b-15 text-center text-uppercase"><i class="zmdi zmdi-picture-in-picture"></i> {% trans "Drivers License or ID - Back" %}</h6>
		            
		            <div class="card">
		            	<div class="card-body">
		            		{% if id_back_instance.status %}
								<div class="alert {{ id_back_instance.status_alert_class }} text-center"><strong>{% trans id_back_instance.status_title  %}</strong></div>
		            		{% endif%}
			                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
			                	<input type="hidden" name="form_name" value="id_back">
			                	<div class="row">
			                		<div class="col-8">
			                			<input type="file" name="file" class="form-control" style="border: 0; padding: 0;">
			                		</div>
			                		<div class="col-4 text-right">
			                			<button href="#" class="btn btn-custom waves-effect waves-light"><i class="zmdi zmdi-upload"></i> {% trans "Upload" %}</button>
			                		</div>
			                	</div>
			                </form>
		            	</div>
		                
		                <div class="card-footer">
			                {% if id_back_instance.file %}
			                	<img src="{% thumbnail id_back_instance.file 600x250 crop='smart' %}" class="img-fluid">
			                {% else %}
			                	<img src="http://via.placeholder.com/600x250?text=|" class="img-fluid">
			                {% endif %}
		                </div>
		            </div>
	            </div>

	            <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">

		            <h6 class="text-muted m-t-15 m-b-15 text-center text-uppercase"><i class="zmdi zmdi-picture-in-picture"></i> {% trans "Document Selfie" %}</h6>
		            
		            <div class="card">
		            	<div class="card-body">
		            		{% if selfie_instance.status %}
								<div class="alert {{ selfie_instance.status_alert_class }} text-center"><strong>{% trans selfie_instance.status_title  %}</strong></div>
		            		{% endif%}
			                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
			                	<input type="hidden" name="form_name" value="selfie">
			                	<div class="row">
			                		<div class="col-8">
			                			<input type="file" name="file" class="form-control" style="border: 0; padding: 0;">
			                		</div>
			                		<div class="col-4 text-right">
			                			<button href="#" class="btn btn-custom waves-effect waves-light"><i class="zmdi zmdi-upload"></i> {% trans "Upload" %}</button>
			                		</div>
			                	</div>
			                </form>
		            	</div>
		                
		                <div class="card-footer">
			                {% if selfie_instance.file %}
			                	<img src="{% thumbnail selfie_instance.file 600x250 crop='smart' %}" class="img-fluid">
			                {% else %}
			                	<img src="http://via.placeholder.com/600x250?text=|" class="img-fluid">
			                {% endif %}
		                </div>
		            </div>
	            </div>
	        </div>
		</div>        


{% endblock %}
