<script src="https://cdn.bootcss.com/stacktable.js/1.0.3/stacktable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.3.4/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>

<script>
    jQuery(function($) {
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });

        $('.table').stacktable();

        // Change language app
        var change_language_app = new Vue({
            el: '#change-language-app',
            data: {
                language: null
            },
            methods: {
                set_language: function(code) {
                    this.language = code;
                }
            },
            updated: function () {
                vm = this;

                this.$nextTick(function () {
                    if (vm.language != null) {
                        this.$el.querySelector('#change-language-form').submit();
                    }
                });
            }
        });
    });
</script>