{% extends "core/index.html" %}

{% load i18n %}
{% load thumbnail %}

{% block head %}
	<style>
		.tx-12 {
			font-size: 12px;
		}
	</style>
{% endblock %}

{% block content %}
  <h6 class="page-title">{% trans "Statement" %}</h6>
      
  <div>
        
      <div class="os-tabs-w">
        <div class="os-tabs-controls">
          <ul class="nav nav-tabs smaller">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tab_overview" aria-expanded="true">{% trans "Overview" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab_crypto_withdraw" aria-expanded="false">{% trans "Crypto Withdrawals" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab_br_withdraw" aria-expanded="false">{% trans "BRL Withdrawals" %}</a>
            </li>
          </ul>
          </ul>
        </div>
        <div class="tab-content card-box">
          <div class="tab-pane active" id="tab_overview" aria-expanded="true">
          	<table class="table table-bordered table-v2 table-striped">
          		<thead>
          			<tr>
          				<th>{% trans "Created" %}</th>
          				<th>{% trans "Coin" %}</th>
          				<th>{% trans "Symbol" %}</th>
          				<th>{% trans "Description" %}</th>
          				<th>{% trans "Amount" %}</th>
          			</tr>
          		</thead>
          		<tbody class="tx-12">
          			{% for item in statement %}
          				<tr>
          					<td>{{ item.created|date:"SHORT_DATETIME_FORMAT" }}</td>
          					<td>{{ item.account.currency.name }}</td>
          					<td>{{ item.account.currency.symbol }}</td>
          					<td>{{ item.description }}</td>
          					<td>{{ item.amount }}</td>
          				</tr>
          			{% endfor %}
          		</tbody>
          	</table>
          </div>
          <div class="tab-pane" id="tab_crypto_withdraw" aria-expanded="false">
          	<table class="table table-bordered table-v2 table-striped">
          		<thead>
          			<tr>
          				<th>{% trans "Created" %}</th>
          				<th>{% trans "Coin" %}</th>
          				<th>{% trans "Symbol" %}</th>
          				<th>{% trans "Deposit" %}</th>
          				<th>{% trans "Reserved" %}</th>
          				<th>{% trans "Address" %}</th>
                  <th>{% trans "Amount" %}</th>
          				<th>{% trans "Status" %}</th>
          			</tr>
          		</thead>
          		<tbody class="tx-12">
          			{% for item in crypto_withdraw %}
          				<tr>
          					<td>{{ item.created|date:"SHORT_DATETIME_FORMAT" }}</td>
          					<td>{{ item.account.currency.name }}</td>
          					<td>{{ item.account.currency.symbol }}</td>
          					<td>{{ item.deposit }}</td>
          					<td>{{ item.reserved }}</td>
          					<td>{{ item.address }}</td>
                    <td>{{ item.amount }}</td>
          					<td><span class="badge badge-{{ item.status_class }}">{{ item.status_name }}</span></td>
          				</tr>
          			{% endfor %}
          		</tbody>
          	</table>
          </div>
          <div class="tab-pane" id="tab_br_withdraw">
          	<table class="table table-bordered table-v2 table-striped">
          		<thead>
          			<tr>
          				<th>{% trans "Created" %}</th>
          				<th>{% trans "Coin" %}</th>
          				<th>{% trans "Symbol" %}</th>
          				<th>{% trans "Deposit" %}</th>
          				<th>{% trans "Reserved" %}</th>
          				<th>{% trans "Amount" %}</th>
          				<th>{% trans "Bank" %}</th>
          				<th>{% trans "Agency" %}</th>
          				<th>{% trans "Account Type" %}</th>
                  <th>{% trans "Account Number" %}</th>
          				<th>{% trans "Status" %}</th>
          			</tr>
          		</thead>
          		<tbody class="tx-12">
          			{% for item in bank_withdraw %}
          				<tr>
          					<td>{{ item.created|date:"SHORT_DATETIME_FORMAT" }}</td>
          					<td>{{ item.account.currency.name }}</td>
          					<td>{{ item.account.currency.symbol }}</td>
          					<td>{{ item.deposit }}</td>
          					<td>{{ item.reserved }}</td>
          					<td>{{ item.amount }}</td>
          					<td>{{ item.bank }}</td>
          					<td>{{ item.agency }}</td>
          					<td>{{ item.account_type }}</td>
                    <td>{{ item.account_number }}</td>
          					<td><span class="badge badge-{{ item.status_class }}">{{ item.status_name }}</span></td>
          				</tr>
          			{% endfor %}
          		</tbody>
          	</table>
          </div>
        </div>
      </div>
    </div>
      

{% endblock %}
