{% extends "core/index.html" %}

{% load i18n %}


{% block content %}
    {% include "payments/withdraw.html" %}
    
    <h4 class="page-title"><i class="zmdi zmdi-balance-wallet"></i> {% trans "Wallets" %}</h4>

    <div class="card-box">
        <div class="row m-b-20" id="wallets-toolbar">
            <div class="col-md-9">
                <div class="checkbox" style="margin-top: 5px;">
                    <input id="hidezerobalance" type="checkbox" v-model="hide_zero_balance">
                    <label for="hidezerobalance">
                        {% trans "Hide 0 balance coins" %}
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" v-model="search" placeholder="{% trans "Search coins" %}">
            </div>
        </div>

        <table class="table" id="wallets-app">
            <thead>
                <tr>
                    <th class="bd-t-0"><i class="zmdi zmdi-image"></i> {% trans "Icon" %}</th>
                    <th class="bd-t-0"><i class="zmdi zmdi-label-alt"></i> {% trans "Name" %}</th>
                    <th class="bd-t-0"><i class="zmdi zmdi-info"></i> {% trans "Symbol" %}</th>
                    <th class="bd-t-0"><i class="zmdi zmdi-balance"></i> {% trans "Balance" %}</th>
                    <th class="bd-t-0"><i class="zmdi zmdi-money"></i> {% trans "Deposit" %}</th>
                    <th class="bd-t-0"><i class="zmdi zmdi-money"></i> {% trans "Reserved" %}</th>
                    <th class="bd-t-0"><i class="zmdi zmdi-menu"></i> {% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in wallets">
                    <td><img :src="item.icon" width="30"></td>
                    <td><a :href="'https://coinmarketcap.com/currencies/' + item.slug + '/'" target="_blank" v-text="item.name"></a></td>
                    <td v-text="item.symbol"></td>
                    <td v-text="item.deposit + item.reserved"></td>
                    <td v-text="item.deposit"></td>
                    <td v-text="item.reserved"></td>
                    <td>
                        <a href="#" @click.prevent="createAddress(item.symbol, item.name)" :title="'{% trans "Deposit " %}' + item.symbol" class="btn btn-sm waves-effect waves-light btn-outline-primary">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a href="#" @click.prevent="createWithdraw(item, item.symbol, item.name, item.deposit)" :title="'{% trans "Withdrawal " %}' + item.symbol" class="btn btn-sm waves-effect waves-light btn-outline-danger">
                            <i class="fa fa-minus"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}


{% block scripts %}
    
    {% include "core/scripts/wallets.vue.html" with wallets=wallets %}

{% endblock %}